/* Contenedor principal con sidebar y contenido */
.home-container-flex {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background: linear-gradient(135deg,
            #fff9fb 0%,
            #fdf2f8 50%,
            #f3e8ff 100%);
}

/* ===== CONTENIDO PRINCIPAL ===== */
.home-main-content {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===== CONTENEDOR GENERAL ===== */
.home-container {
    min-height: 100vh;
    padding: 48px; 
    background: linear-gradient(135deg,
            #fff9fb 0%,
            #fdf2f8 50%,
            #f3e8ff 100%);
}

.home-centered-content{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 20px;
}
/* ===== HEADER ===== */
.home-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 850px;
    padding-bottom: 20px;
}

.home-header h1 {
    font-size: 32px;
    color: #f472b6;
    margin-bottom: 8px; 
}

.home-subtitle {
    color: #6b7280;
    font-size: 16px;
}

/* ===== SCROLL WRAPPER ===== */
.workspace-scroll-wrapper {
    width: 100%;
    max-width: 850px;
}

/* ===== SCROLL CONTAINER ===== */
.workspace-scroll-container {
    max-height: 700px;
    overflow-y: auto;

    padding: 20px;
}

/* ===== GRID ===== */
.workspace-grid {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 850px;
}

/* ===== CARD ===== */
.workspace-card {
    display: flex;
    gap: 16px;
    flex-direction: row;
    align-items: center;

    position: relative;
    z-index: 1;

    background: white;
    padding: 19px 24px;
    border-radius: 16px;
    box-shadow: 0px 8px 25px rgba(244, 114, 182, 0.12);

    cursor: pointer;
    transition: all 0.2s ease;
}

.workspace-card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 10px 15px rgba(139, 92, 246, 0.25);
}

/* ===== AVATAR ===== */
.workspace-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    color: white;

    background: linear-gradient(135deg,
            #f472b6,
            #aa8eeb);
}

/* ===== TITLE ===== */
.homescreen-workspace-title {
    font-size: 16px;
    margin: 0;
    font-weight: 500;
    color: #f472b6;
}

/* ===== MENSAJES ===== */
.error-message {
    color: #dc2626;
}

.empty-message {
    color: #6b7280;
    font-style: italic;
}